.NavBar {
  background-color:#16329a;
  position: absolute;
  padding: 0;
  
}

.NavLink {
  padding: 5px;
  color: aqua;
}

.NavLink:hover {
  color: aqua;
}

.Active i {
  color: rgb(249, 249, 46);
}